<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953289410301-vj9qb4eccgklklbpilrh46oiht37qu2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953289410301-vj9qb4eccgklklbpilrh46oiht37qu2d</string>
	<key>API_KEY</key>
	<string>AIzaSyDQLgkz5sFAo1C13uEqmanT2cfd-NM7kSI</string>
	<key>GCM_SENDER_ID</key>
	<string>953289410301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DHV-.LearningSwift</string>
	<key>PROJECT_ID</key>
	<string>learning-swift-app</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-swift-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953289410301:ios:c51b169a5438fedcfd2094</string>
</dict>
</plist>